.search-container {
	position: relative;
	display: inline-block;
}

.search-icon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.search-input {
	padding: 10px 10px 10px 40px;
	border: 1px solid #ccc;
	border-radius: 100px;
}
